.chat-container {
    width: 375px;
    height: 640px;
    background: #fdfdfd;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 20px auto;
    border: 1px solid #eee;
}

.chat-header {
    background: #6200ee;
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: 600;
}

.chat-box {
    flex: 1;
    padding: 15px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.message {
    padding: 10px 15px;
    border-radius: 15px;
    max-width: 80%;
    font-size: 14px;
    line-height: 1.2;
    border: 2px solid rgb(84, 84, 249);
}

.message-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.message-wrapper.user {
    align-items: flex-end;
}

.message-wrapper.bot {
    align-items: flex-start;
}

.timestamp {
    font-size: 10px;
    color: #888;
    margin-top: 2px;
    padding: 0 5px;
}

.suggestions {
    display: flex;
    flex-wrap: wrap;
    animation: fadeIn 0.5s ease-in;
    padding: 10px;
    background: #fafafa;
    border-radius: 10px;
}

.suggestions button {
    background: white;
    border: 1px solid #6200ee;
    color: #6200ee;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 12px;
    cursor: pointer;
    transition: 0.3s;
    margin: 2px;
}

.suggestions button:hover {
    background: #6200ee;
    color: white;
}

.input-area {
    display: flex;
    padding: 15px;
    border-top: 1px solid #eee;
}

input {
    flex: 1;
    border: none;
    outline: none;
    padding: 8px;
    position: sticky;
    bottom: 0;
    background: white;
}

button {
    border-radius: 12px;
    padding: 10px;
    color: #6200ee;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #6200ee;
    color: white;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.date-divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 15px 0;
    color: #a48aec;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.date-divider::before,
.date-divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #a48aec;
}

.date-divider span {
    padding: 0 10px;
}